<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>157758705194-j6s9q4mt02jj6dqe2smgeqpqhamnr4ap.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.157758705194-j6s9q4mt02jj6dqe2smgeqpqhamnr4ap</string>
	<key>API_KEY</key>
	<string>AIzaSyBF3-CH-BxeRR8ndD7m_j0v9nMjb7Ag4OI</string>
	<key>GCM_SENDER_ID</key>
	<string>157758705194</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Siddikjon.Travel-Agency</string>
	<key>PROJECT_ID</key>
	<string>travel-agency-b88d7</string>
	<key>STORAGE_BUCKET</key>
	<string>travel-agency-b88d7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:157758705194:ios:8ec94f31613f5c56507d53</string>
</dict>
</plist>