<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>681906687616-a7fq2k169pe81ei599sipompe8g474iu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.681906687616-a7fq2k169pe81ei599sipompe8g474iu</string>
	<key>API_KEY</key>
	<string>AIzaSyDkLBHIQbP_hMFznyRqdZUM1NiK4lWL_X4</string>
	<key>GCM_SENDER_ID</key>
	<string>681906687616</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Siddikjon.Travel-Agency2</string>
	<key>PROJECT_ID</key>
	<string>travel-agency2-f8165</string>
	<key>STORAGE_BUCKET</key>
	<string>travel-agency2-f8165.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:681906687616:ios:d3f87f1b1d9c638f1b2065</string>
</dict>
</plist>